######################################################
######################################################
## These constraints are for MARK-1 RPI/FPGA shield ##
######################################################
######################################################

######################
# Timing Constraints #
######################

##### Grouping Constraints #####
NET "OSC_FPGA" TNM_NET = clk50_grp;

##### Clock Period Constraints #####
TIMESPEC TS_PER_CLK50 = PERIOD "clk50_grp" 20.0 ns;

#######################
# Pin LOC Constraints #
#######################

#OSCILLATOR
NET "OSC_FPGA"				LOC = "P92";
#GPMC PORT##############################################################################
#GPMC CLK
NET "GPMC_CLK"           LOC = "P95"| IOSTANDARD = LVTTL | DRIVE = 2 | SLEW = SLOW  ;   # 
#GPMC CONTROL
NET "GPMC_CSN2"          LOC = "P104"| IOSTANDARD = LVTTL | DRIVE = 2 | SLEW = SLOW  ;   # 
NET "GPMC_CSN1"          LOC = "P102"| IOSTANDARD = LVTTL | DRIVE = 2 | SLEW = SLOW  ;  # 
NET "GPMC_CSN0"          LOC = "P97"| IOSTANDARD = LVTTL | DRIVE = 2 | SLEW = SLOW  ;   # 
NET "GPMC_ADVN"          LOC = "P121"| IOSTANDARD = LVTTL | DRIVE = 2 | SLEW = SLOW  ;   #
NET "GPMC_OEN"           LOC = "P120"| IOSTANDARD = LVTTL | DRIVE = 2 | SLEW = SLOW  ;   #  
NET "GPMC_BE0N"          LOC = "P119"| IOSTANDARD = LVTTL | DRIVE = 2 | SLEW = SLOW  ;   # 
NET "GPMC_BE1N"          LOC = "P46"| IOSTANDARD = LVTTL | DRIVE = 2 | SLEW = SLOW  ;   # 
NET "GPMC_WEN"          LOC = "P118"| IOSTANDARD = LVTTL | DRIVE = 2 | SLEW = SLOW  ;  # 
#GPMC A/D
NET "GPMC_AD0"           LOC = "P98"| IOSTANDARD = LVTTL | DRIVE = 2 | SLEW = SLOW  ;   # 
NET "GPMC_AD1"           LOC = "P99"| IOSTANDARD = LVTTL | DRIVE = 2 | SLEW = SLOW  ;   # 
NET "GPMC_AD2"           LOC = "P124"| IOSTANDARD = LVTTL | DRIVE = 2 | SLEW = SLOW  ;   # 
NET "GPMC_AD3"           LOC = "P123"| IOSTANDARD = LVTTL | DRIVE = 2 | SLEW = SLOW  ;   # 
NET "GPMC_AD4"           LOC = "P100"| IOSTANDARD = LVTTL | DRIVE = 2 | SLEW = SLOW  ;  # 
NET "GPMC_AD5"           LOC = "P101"| IOSTANDARD = LVTTL | DRIVE = 2 | SLEW = SLOW  ;   # 
NET "GPMC_AD6"           LOC = "P127"| IOSTANDARD = LVTTL | DRIVE = 2 | SLEW = SLOW  ;   # 
NET "GPMC_AD7"           LOC = "P126"| IOSTANDARD = LVTTL | DRIVE = 2 | SLEW = SLOW  ;   # 
NET "GPMC_AD8"           LOC = "P105"| IOSTANDARD = LVTTL | DRIVE = 2 | SLEW = SLOW  ;   # 
NET "GPMC_AD9"           LOC = "P115"| IOSTANDARD = LVTTL | DRIVE = 2 | SLEW = SLOW  ;   # 
NET "GPMC_AD10"          LOC = "P114"| IOSTANDARD = LVTTL | DRIVE = 2 | SLEW = SLOW  ;  # 
NET "GPMC_AD11"          LOC = "P94"| IOSTANDARD = LVTTL | DRIVE = 2 | SLEW = SLOW  ;   # 
NET "GPMC_AD12"          LOC = "P116"| IOSTANDARD = LVTTL | DRIVE = 2 | SLEW = SLOW  ;   # 
NET "GPMC_AD13"          LOC = "P117"| IOSTANDARD = LVTTL | DRIVE = 2 | SLEW = SLOW  ;  # 
NET "GPMC_AD14"          LOC = "P111"| IOSTANDARD = LVTTL | DRIVE = 2 | SLEW = SLOW  ;  # 
NET "GPMC_AD15"          LOC = "P112"| IOSTANDARD = LVTTL | DRIVE = 2 | SLEW = SLOW  ;   # 
#LED######################################################################################
NET "LED0"           LOC = "P55";   # 
NET "LED1"           LOC = "P93";   # 
#PUSH BUTTONS##############################################################################
NET "PB0"           LOC = "P88";   # 
NET "PB1"           LOC = "P75";   # 
#BB SPI PORT################################################################################
NET "BB_SPI_MISO"	LOC = "P51";
NET "BB_SPI_SCK"	LOC = "P50";
NET "BB_SPI_SS"	LOC = "P48";
NET "BB_SPI_MOSI"	LOC = "P47";
#PMOD1######################################################################################
NET "PMOD1_1"	LOC = "P67";
NET "PMOD1_2"	LOC = "P62";
NET "PMOD1_3"	LOC = "P58";
NET "PMOD1_4"	LOC = "P56";
NET "PMOD1_7"	LOC = "P66";
NET "PMOD1_8"	LOC = "P61";
NET "PMOD1_9"	LOC = "P59";
NET "PMOD1_10"	LOC = "P57";
#PMOD2########################################################################################
NET "PMOD2_1"	LOC = "P85";
NET "PMOD2_2"	LOC = "P83";
NET "PMOD2_3"	LOC = "P81";
NET "PMOD2_4"	LOC = "P79";
NET "PMOD2_7"	LOC = "P84";
NET "PMOD2_8"	LOC = "P82";
NET "PMOD2_9"	LOC = "P80";
NET "PMOD2_10"	LOC = "P78";
#SATA##########################################################################################
NET "SATA_D1_P"	LOC = "P44";
NET "SATA_D1_N"	LOC = "P43";
NET "SATA_D2_P"	LOC = "P41";
NET "SATA_D2_N"	LOC = "P40";

#RAM - "RAM21" IS NOT ROUTED!!  = ADR15 (SRAM) = DQ13 (SDRAM)